thead{
	background-color: white;
	border: solid thin;
	
}
th{
	border: solid thin;
}
dt:hover+ dd{
	background-color: purple;
}
form{
	border: solid thin;
}
table{
	border: solid thin;
}
tfoot{
	background-color: white;
}
td{
	border: solid thin;
	height: 1.4em;
	width: 1.4em;
	text-align: center;
	padding:1px;
	
}
tbody{
	border: solid thin;
}
tbody tr:nth-child(even){
	background-color: #ADD8E6;
	
}
tbody tr:nth-child(odd){
	background-color: #90EE90;
}

tbody tr td:nth-child(2){
	color: red;
}

tbody tr td:nth-child(4){
	color: blue;
}
div.outer-content{
	margin:20px;
	top:0;
	left:0;
	width:75%;
	height: 50px;
	background-color: pink;

}
div.inner-content{
	width:75%;
	height: 50%;
	top: 25%;
	left: 12%;
	right: 13%;
	margin: 0 aut0;
	position: relative;
	background-color: blue;
}
img{
	height: 100px;
	width: 125px;
	float: left;
}

